<h2>Create a Celebritie</h2>

<form action="/celebrities/create" method="post">

<label>Name
    <input type="text" name="name">
</label>
<label>Occupation
    <input type="text" name="occupation">
</label>
<label>Catchparse
    <input type="text" name="catchParse">
</label>

<button>Create</button>

</form>